body {
    background-image: url(./photos/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#startScreen {
    text-align: center;
    padding: 20px;
}

#optionsScreen {
    display: none;
    text-align: center;
    padding: 20px;
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.bottom-container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

#playerResult, #cpuResult {
    font-size: 40px;
    font-weight: bold;
}

.choiceArea {
    flex: 1; /* Added flex: 1 to make the option buttons occupy remaining space */
}

#countDown {
    font-size: 90px;
    text-shadow: 5cm;
}

#cpuArea img {
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
  }


  #playerArea img {
    width: 300px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
  }

  #scoreboard {
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
  }