#startScreen {
    text-align: center;
    padding: 20px;
}

#optionsScreen {
    display: none;
    text-align: center;
    padding: 20px;
}

#countdown-container {
    display: flex;
    justify-content: center;
    border: 1px red solid;
    height: 100vh;
}

.second-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#countDown {
    font-size: 72px;
}